<div class="container col-xs-4">
  <div class="panel panel-primary">
    <div class="panel-heading text-center"><h2>Editar</h2></div>
<%= render 'form', person: @person %>

<%= link_to 'Ver', @person %> |
<%= link_to 'Atrás', people_path %>
</div>
</div>